<!-- header -->
<%- include(res_path + '/layouts/crm/header') %>
<!-- /header -->

    <!-- body -->
    <main>
      <!--  top navbar -->
      <%- include(res_path + '/layouts/crm/topbar') %>
      <!-- / top navbar --> 
    </main> 
    <!-- /body -->
       
<!-- footer -->
<%- include(res_path + '/layouts/crm/footer') %>
<!-- /footer -->