.env
tests
.DS_Store
node_modules/
public/assets
public/bootstrap
public/assets/jquery
config/database/dump/*.sql
config/database/dump/*.db
config/database/migrations/*.js
public/logs/electron_debug.log
public/Session Storage