<!-- header -->
<%- include(res_path + '/layouts/web/header') %>
<!-- /header -->

        <!-- body -->
        <div class="card border-0 auth-login-card">
            <div class="card-header">
                Security Code Request
            </div>
            <div class="card-body container">  
                <div style="margin: 0 auto;" class="justify-content-center container w-50"> 
                    <form method="post" enctype="multipart/form-data" class="forgot-password">
                        <p id="pout"></p>
                        <div class="form-group mb-3 users_message" id="users_message">
                        </div>
                        <div class="form-group mb-3">
                            <label for="Password">Enter email to receive Security Code</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Enter a valid email" autocomplete="on" aria-describedby="helpId" required="required">
                            <small id="helpId" class="text-muted">Note: Valid Email</small>
                        </div>
                        <div class="form-group mb-3 float-right">
                            <button type="button" id="request-security-code-btn" class="btn btn-sm btn-primary request-security-code-btn">Request Security Code</button>
                        </div>
                        <div class="footer-text pt-5">
                            <p>
                                Remembered your password? Click <a href="/login">here</a>
                            </p>
                        </div> 
                    </form>
                </div> 
            </div>
        </div>
        <!-- /body -->
       
<!-- footer -->
<%- include(res_path + '/layouts/web/footer') %>
<!-- /footer -->