<!-- header -->
<%- include(res_path + '/layouts/web/header') %>
<!-- /header -->
        <!-- body -->
        <div class="card border-0 auth-login-card">
            <div class="card-header">
                Reset Password
            </div>
            <div class="card-body container">  
                <div style="height: 100vh;" style="margin: 0 auto;" class="justify-content-center container w-50"> 
                    <form method="post" enctype="multipart/form-data" class="reset-password">
                        <p id="pout"></p>
                        <div class="form-group users_message" id="users_message">
                        </div>
                        <div class="form-group">
                            <label for="Password">Security Code</label>
                            <input type="password" name="security-code" id="security-code" class="form-control" placeholder="Enter Security Code" autocomplete="on" aria-describedby="helpId" required="required">
                            <small id="helpId" class="text-muted">Note: Valid Security Code</small>
                        </div> 
                        <div class="form-group">
                            <label for="Password">New Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter New Password" autocomplete="on" aria-describedby="helpId" required="required">
                            <small id="helpId" class="text-muted">Note: Valid Password</small>
                        </div>
                        <div class="form-group">
                            <label for="Password">Re-Enter Password</label>
                            <input type="password" name="confirm-password" id="confirm-password" class="form-control" placeholder="Re-Enter New Password" autocomplete="on" aria-describedby="helpId" required="required">
                            <small id="helpId" class="text-muted">Note: Valid Password</small>
                        </div>  
                        <div class="form-group float-right">
                            <button type="button" id="reset-password-btn" class="btn btn-sm btn-primary reset-password-btn">Reset Password</button>
                        </div>
                        <div class="footer-text pt-5">
                            <p>
                                Remembered your password? Click <a href="/login">here</a>
                            </p>
                        </div>
                        <div class="footer-text pt-2">
                            <p>
                                Re-enter Email? Click <a href="/forgotpassword">here</a>
                            </p>
                        </div> 
                    </form>
                </div> 
            </div>
        </div>
        <!-- /body -->
       
<!-- footer -->
<%- include(res_path + '/layouts/web/footer') %>
<!-- /footer -->